<!-- шаблон, используемый в html разных страниц для описания одинаковых элементов -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <!-- ссылка на используемый файл стилей -->
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>

<body>
    <div class="navbar">
        <a href="/" class="navbar-brand">TopLiga</a>
        <a href="{{ url_for('standings') }}" class="navbar-item">Standings</a>
        <a href="{{ url_for('associations') }}" class="navbar-item">Associations</a>
    </div>

    <div class="body-content">
        {% block content %}
        <!-- место вставки неповтормиого контента страниц, использующих шаблон -->
        {% endblock %}
        <hr />
        <footer>
            <p>&copy; 2024</p>
        </footer>
    </div>
</body>
</html>